# Alle PNG-Dateien ausschließen
*.png

# Alle HDF5-Dateien ausschließen
*.h5

# Alle pth-Dateien ausschließen
*.pth
*.gif
*.xcf
# Ganzen data-Ordner ausschließen
data/raw
data/models
data/training


.vscode
